html, body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 300vh;
    width: 100%;
    display: table;
    overflow-x:hidden;
}

.test {
    width: 100%;
    height: 300vh;
}

.red-line {
    background-color: #800000;
    width: 100%;
    height: 6px;
    margin: 0;
}



/* ------ Navbar ------ */
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
body.sticky-nav {
    padding-top: 70px;
}
.logo-container {
    display: flex;
    align-items: center;
    margin-left: 50px;
    text-decoration: none;
}
.logo-info {
    margin-left: 10px;
}
.navbar-menu {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 50px;
    padding: 0;
}
.navbar-logo {
    margin: 0;
    height: 70px;
}
.navbar-university {
    font-size: 18px;
    font-family: Cinzel,Arial,Helvetica,sans-serif;
    font-weight: 700;
    color: #800000;
    margin-bottom: 0px;
}
.navbar-branch {
    font-size: 18px;
    font-family: Cinzel,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: smaller;
    color: dimgray;
    margin-top: 0px;
}
.navbar-university, .navbar-branch {
    transition: color 0.1s;
}
.logo-container:hover .navbar-university, .logo-container:hover .navbar-branch {
    color: #c00000;
    cursor: pointer;
}
.navbar-text {
    display: inline-block;
    color: #800000;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    font-family: Assistant,Arial,Helvetica,sans-serif;;
    font-weight: 500;
}
.navbar-line {
    height: 2px;
    background-color: #800000;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    margin: 0;
}



/* ------ Section 1 ------ */
.section-one{
    position: relative;
    height: 861px;
    background-color: black;
    clip-path: ellipse(100% 55% at 48% 44%);
}
.image-container {
    display: flex;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    max-height: 865px;
}
.img-1, .img-2, .img-3 {
    width: 100%;
    max-width: 100%;
    max-height: 865px;
    object-fit: cover;
    clip-path: ellipse(100% 55% at 48% 44%);
}
.img-2 {
    object-position: top;
}
.slide {
    width: 100%;
    height: 865px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.slide.active {
    opacity: 1;
}



/* ------ Section 2 ------ */
.section-two {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.pup-desc {
    margin-left: 50px;
    max-width: 1000px;
    text-align: center;
}
.pup-desc-head {
    font-size: 24px;
    font-family: Cinzel,Arial,Helvetica,sans-serif;
    font-weight: 700;
    color: #800000;
    margin-bottom: 30px;
}
.steven-nobg {
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    margin-left: auto;
    margin-right: 50px;
    height: 400px;
    object-fit: cover;
}



/* ------ Number Facts w/ animation ------ */
.number-facts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 25vh;
    background-color: #800000;
    margin: 0;
    padding-bottom: 30px;
}
.fact-container {
    text-align: center;
    font-family: Montserrat, sans-serif;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fact-data {
    display: inline-block;
    font-size: 100px;
    font-weight: 800;
    color: white;
    margin: 0;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    border: 1px solid transparent;
}
.fact-caption {
    color: white;
    font-size: 18px;
    font-weight: 800;
    margin: 0;
}



/* ------ Gallery ------ */
.gallery {
    background-color: #f5f5f5;
    padding: 50px 0;
    margin-top: 100px;
    margin-bottom: 100px;
    overflow: hidden;
    position: relative;
}

.gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.bg-dot {
    background-image: radial-gradient(#800000 2px, transparent 2.5px);
    background-size: 15px 15px;
    box-sizing: border-box;
    display: block;
    height: 120px;
    width: 100%;
    position: absolute;
    left: -30px;
    top: -34px;
    opacity: 0.5;
}
.gallery-img {
    position: relative;
    width: 250px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5px;
    object-fit: cover;
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
}

.gallery-img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    filter: brightness(1.2);
}


/* ------ Section Toggle ------ */
.section-toggle {
    margin: 50px auto 100px;
    max-width: 1000px;
}
.toggle-container {
    background-color: #f5f5f5;
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
}
.toggle-label {
    cursor: pointer;
    display: block;
    background-color: #800000;
    position: relative;
    font-size: 22px;
    margin: 0;
    padding: 15px 20px;
    color: white;
    border-bottom: 1px solid #310000;
    &::after {
        content: "\271B";
        position: absolute;
        right: 20px;
        top: 50%;
        opacity: 0.6;
        transform: translateY(-50%);
        font-weight: 100;
        font-size: 18px;
        transition: transform 0.3s ease;
    }
}
input[type="checkbox"]:checked + .toggle-label::after {
    content: "\268A";
    transform: translateY(-50%) rotate(180deg);
}
.toggle-text {
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    padding: 0 20px;
    transition: all 0.8s ease;
    * {
        opacity: 0;
        transition: all 0.8s ease;
    }
}
input {
    display: none;
    &:checked + label + div {
        max-height: 100vh;
        visibility: visible;
        opacity: 1;
        padding: 20px;
        * {
            opacity: 1;
        }
    }
    &:checked + label::after {
        content: "\268A";
    }
}
.toggle-head {
    font-size: 24px;
    font-family: Cinzel, Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #800000;
    margin-top: 20px;
    margin-bottom: 10px;
}
.toggle-body {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
    padding: 0 20px;
}

/* ------ Section Three (map) ------ */
.location-containers {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.map-container,
.street-view-container {
    width: 45%;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-container iframe,
.street-view-container iframe {
    width: 100%;
    height: 500px;
    border: none;
}



/* ------ Footer ------ */
.footer {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Assistant;
    font-weight: 400;
    word-wrap: break-word;
}
.footer-container {
    list-style: none;
    color: white;
}
.footer-top {
    color: #800000;
    background-color: #f5f5f5;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.line1 {
    background-color: #800000;
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: 40px;
}
.footer-logo {
    max-width: 150px;
}
.footer-university {
    font-size: 20px;
    font-family: Cinzel,Arial,Helvetica,sans-serif;
    font-weight: 700;
    color: #800000;
    margin: 0;
}
.footer-branch {
    font-size: 16px;
    font-family: Cinzel,Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: dimgray;
    margin-top: 0px;
}
.ql-text {
    font-family: Cinzel,Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #800000; 
    margin-top: 0;
    margin-bottom: 40px;
}
.quick-links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    
}
.ql-link {
    font-family: Assistant;
    font-weight: 500;
    color: #310000;
    text-decoration: none;
    font-size: 16px;
}
.quick-links li {
    margin-bottom: 20px;
}

.footer-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
}
.location {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}
.location-icon {
    max-width: 20px;
    max-height: 20px;
    object-fit: cover;
    margin-right: 10px;
    vertical-align: middle;
}
.address {
    align-items: center;
    vertical-align: middle;
}
.contact-icon {
    max-width: 20px;
    max-height: 20px;
    object-fit: cover;
    margin-right: 10px;
    vertical-align: middle;
}
.phone-num, .telephone-num {
    display: inline-flex;
    vertical-align: middle;
}
.footer-socials {
    display: block;
    margin-top: 30px;
}
.footer-socials a {
    text-decoration: none;
}
.facebook, .twitter, .instagram, .youtube {
    max-width: 40px;
    max-height: 40px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.facebook:hover, .twitter:hover, .instagram:hover, .youtube:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.footer-bottom {
    display: flex;
    color: white;
    background-color: #310000;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 40px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.line2 {
    background-color: rgba(255, 255, 255, 0.767);
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer-link-container {
    display: flex;
    align-items: center;
}

.footer-link {
    color: white;
    text-decoration: none;
    margin-right: 30px;
}

.copyright {
    color: white;
    opacity: 0.7;
    margin-left: auto;
}

/* ------ IDK WHAT THIS IS BUT ITS HERE ------ */
@media(min-width: 768px) {
    .number-facts {
        flex-direction: row;
    }
    .fact {
        margin-bottom: 0;
        margin-right: 20px;
    }
    .gallery-container {
        flex-wrap: wrap;
    }

    .gallery-img {
        flex: 0 0 calc(14.28% - 20px);
        max-width: calc(14.28% - 20px);
        margin: 5px;
    }
}
